body {
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Broly {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: green;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
    
}

.img {
    width: 250px;
    height: 250px;
}