/*Using Flex with Zarbon. Will set up charecter layout and I will add a brief description.*/ 

body {
    width: 1000px;
    color: white;
    border: 50px;
    border-style: groove;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zarbon {
    display: flex;
    background-color: lightblue;
}

.text {
    font-style: normal;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    background-color: lightblue;
}

.title {
    display: flex;
    background-color: lightblue;
}