body {
    background-color: pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 900px;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .title {
        font-style: italic;
    }

    .text{
        background-color: purple;
        color: white;
        width: 400px;
        height: 400px;
        margin: 25px;
        font-size: 24px;
    }

    .img {
        width: 144px;
        height: 135px;
    }