body {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


#container {
    background-color: darkblue;
    border-width: 50px;
    border-color: white;
    border-style: groove;
    width: 750px;
    height: 550px;
   display: flex;
   flex-direction: column
}

    .button {
        width: 100px;
        margin-top: 10px;
        margin-left: 25px;
    }