#title{
    color: darkblue;
    background-color: orange;
    width: 750px;
}

.titletext {
    font-size: 12px;
    background-color: gray;
    width: 100px;
}

#frieza {
    background-color: black;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 750px;
}

#zarbon {
    background-color: lightblue;
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
}

#cell {
    background-color: green;
    color: purple;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
}

#Goku {
    background-color: orange;
    color: blue;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
}

#Vegeta {
    background-color: darkblue;
    color: purple;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
}