#title{
    color: darkblue;
    background-color: orange;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: darkblue;
}

.titletext {
    font-size: 12px;
    background-color: gray;
    width: 100px;
}

#frieza {
    background-color: black;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: purple;
}

#zarbon {
    background-color: lightblue;
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: lightblue;
}

#cell {
    background-color: green;
    color: purple;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: green;
}

#Goku {
    background-color: orange;
    color: blue;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: blue;
}

#Vegeta {
    background-color: darkblue;
    color: purple;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: darkblue;
}

#Roshi {
    background-color: orange;
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: white;
}

#Gohan {
    background-color: purple;
    color: red;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    border: 50px;
    border-style: groove;
    border-color: red;
}