body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
}

.h1 {
    background-color: orange;
    color: darkblue;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    background-color: orange;
    width: 750px;
    height: 750px;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
}
    .container1 {
        display: flex;
        justify-content: center;
    }

.img {
    width: 103px;
    height: 137px;
}